<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [class.minimized]="isMinimized" class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar [class.minimized]="isMinimized">
      <span *ngIf="!isMinimized" i18n>Menu</span>
      <button mat-icon-button (click)="toggleSidenavWidth()" class="minimize-button hide-minimizer" [class.minimized]="isMinimized">
        <mat-icon>{{ isMinimized ? "east" : "west" }}</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      @for (item of rootRoutes; track $index) {
        <a
          mat-list-item
          [routerLink]="item.path"
          #link="routerLinkActive"
          routerLinkActive="active-link"
          [activated]="link.isActive"
          [matTooltip]="isMinimized ? item.title : ''"
          matTooltipPosition="after"
        >
        <mat-icon matListItemIcon>
          {{ item.icon }}
        </mat-icon>
        <span *ngIf="!isMinimized">{{ item.title }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [class.minimized]="isMinimized">
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="sidenav.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>ng-base</span>
      <button
        *ngIf="authService.user$ | async as user"
        class="profile"
        type="button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <img *ngIf="user.photoURL" [src]="user.photoURL" alt="User Photo" class="user-photo">
      </button>
      <mat-menu #menu="matMenu" class="profile-menu">
        <button mat-menu-item (click)="openProfileDialog(1)">
          <mat-icon>settings</mat-icon>
          <span i18n>Preferences</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>logout</mat-icon>
          <span i18n>Log out</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
