$default-sidenav-width: 200px;
$minimized-sidenav-width: 57px;
$handset-breakpoint: 600px;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: $default-sidenav-width;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.profile {
  margin-left: auto;
}

mat-sidenav {
  transition: width 0.3s ease;

  &.minimized {
    width: $minimized-sidenav-width;
  }
}

mat-toolbar {
  transition: width 0.3s ease;
  justify-content: space-between;

  &.minimized {
    padding-left: 10px
  }
}

mat-sidenav-content {
  margin-left: $default-sidenav-width !important;
  transition: margin-left 0.3s ease !important;

  &.minimized {
    margin-left: $minimized-sidenav-width !important;

    @media (max-width: $handset-breakpoint) {
      margin-left: 0px !important;
    }
  }

}

@media (max-width: $handset-breakpoint) {
  mat-sidenav-content {
    margin-left: 0px !important;
  }
}

.minimize-button {
  transition: transform 0.3s ease;
}
