h1 {
  font-size: 3em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

#typewriter1, #typewriter2, #caret1, #caret2 {
  display: inline;
  overflow: hidden;
}

.caret {
  border-right: .1em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.tagline-container {
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  height: 100%;
}