.login-container {
  height: 100vh;
}

.login-container {
  width: 100%;
  height: 100%;
}

.login-image {
    background-image: url('/assets/login-image.png');
    background-size: cover;
}

.tagline-container {
  ::ng-deep .mat-grid-tile-content {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 64px;
    padding-left: 64px;
  }
}

.ng-base-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
