/* login.component.css */
.login-container {
  height: 100vh;
}

.login-container {
  width: 100%;
  height: 100%;
}

//.left-panel {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 100%;
//}

.login-image {
    background-image: url('/assets/login-image.png');
    background-size: cover;
}

.login-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-form-header, .form-footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.logo {
  width: 50px
}

.login-form-footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100px
}

.login-form-footer-left {
  font-size: smaller;
}

.login-form-footer-divider {
  width: 12px;
  margin-right: 12px;
  height: 25%;
}

.login-form-footer-right {
  font-size: smaller;
}
