<!-- login.component.html -->
<div class="login-container">
  <mat-grid-list [cols]="cols" rowHeight="100vh">
    <mat-grid-tile [colspan]="leftSpan" class="login-image tagline-container">
      <img src="assets/login-image.png">
      <tagline></tagline>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="rightSpan">
      <div class="ng-base-container" [ngClass]="getContainerClass()">
        <ng-base-container-content>
          <login-form></login-form>
        </ng-base-container-content>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
