<ng-base-container>
  <ng-base-container-content>
    <mat-drawer-container class="wrapper">
      <div *ngIf="isVerifyEmail()" class="container">
        <div i18n class="title">Tell us about you</div>
        <mat-form-field appearance="outline" class="element">
          <mat-label i18n>Name</mat-label>
          <input
            matInput
            [value]="name()"
            placeholder="Fill your name"
            (blur)="onNameChange($event)"
          >
        </mat-form-field>
        <div i18n class="text bottom">
          By clicking "Agree", you agree to our <a href="https://www.google.com/" target="_blank" class="link">Terms</a>.
          Our <a href="https://www.google.com/" target="_blank" class="link">Privacy Policy</a> explains how we process personal data.
        </div>
        <button i18n mat-flat-button type="submit" (click)="accept()" class="element">Agree</button>
      </div>
      <div *ngIf="isResetPassword()" class="container">
        <div i18n class="title">Reset your password</div>
        <password-input [pwd]="pwd1" placeholder="New Password" name="newPassword" autocomplete="new-password" class="element"></password-input>
        <password-input [pwd]="pwd2" placeholder="Re-enter new Password" class="element"></password-input>
        <password-feedback *ngIf="showPwdFeedback()" [pwd]="pwd1" [pwd2]="pwd2" class="element check"></password-feedback>
        <button i18n mat-flat-button type="submit" (click)="resetPwd()" class="element">Reset Password</button>
      </div>
      <div *ngIf="isConfirmResetPwd()" class="container">
        <div class="icon-container">
          <mat-icon inline class="icon">check</mat-icon>
        </div>
        <div i18n class="title light">Password Changed!</div>
        <div i18n class="text bottom">
          Your password has been changed successfully.
        </div>
        <button i18n mat-flat-button type="submit" (click)="gotoLogin()" class="element">Back to Ng Base</button>
      </div>
    </mat-drawer-container>
  </ng-base-container-content>
</ng-base-container>