<ng-base-container>
  <ng-base-container-content>
    <mat-drawer-container>
      <div class="container">
        <div i18n class="title">E-mail address validation</div>
        <div i18n class="text">We have just sent an email to johndoe.gmail.com.</div>
        <div i18n class="text bottom">Click the link in the message to validate email address.</div>
        <button i18n mat-button type="submit">Resend email</button>
      </div>
    </mat-drawer-container>
  </ng-base-container-content>
</ng-base-container>