<ng-base-container>
  <ng-base-container-content>
    <mat-drawer-container>
      <div *ngIf="showEnterEmail()" class="container">
        <div i18n class="title">Reset your password</div>
        <div i18n class="text">Enter your e-mail address and we will send you instructions to reset your password.</div>
        <email-input [email]="email" class="form-element"/>
        <button i18n mat-flat-button color="primary" type="submit" (click)="continue()" class="form-element">Continue</button>
        <button i18n mat-button color="primary" type="submit" (click)="gotoLogin()" >Go back to login</button>
      </div>
      <div *ngIf="showResend()" class="container">
        <div class="icon-container">
          <mat-icon inline class="icon">mail</mat-icon>
        </div>
        <div i18n class="check-title">Check your e-mail messages</div>
        <div i18n class="text form-element">Please check your e-mail address john.com to know how to reset your password.</div>
        <button i18n mat-stroked-button color="primary" type="submit" class="form-element">Resend email</button>
      </div>
    </mat-drawer-container>
  </ng-base-container-content>
</ng-base-container>