
<div class="header">
  <img *ngIf="getTheme() == 'dark'" src="./assets/logo-dark.png" class="logo"/>
  <img *ngIf="getTheme() == 'light'" src="./assets/logo-light.png" class="logo"/>
</div>
<ng-content></ng-content>
<div class="footer">
  <div class="footer-content">
    <mat-drawer-container class="footer-left">
      <a i18n mat-button color="primary" [href]="termsLink" target="_blank">Terms of use</a>
    </mat-drawer-container>
    <mat-divider [vertical]="true" class="footer-divider"></mat-divider>
    <mat-drawer-container class="footer-right">
      <a i18n mat-button color="primary" [href]="privacyLink" target="_blank">Privacy policy</a>
    </mat-drawer-container>
  </div>
</div>
