@use '@angular/material' as mat;
@import '../../../../styles.scss';

.login-form {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form-element-simple {
  width: 100%;
}

.login-form-element {
  width: 100%;

  ::ng-deep .mdc-button__label {
    display: flex;
    justify-content: flex-start;
    width: 100%
  }
}

.google-logo {
  width: 25px;
  margin-right: 18px
}

.microsoft-logo {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: 2px
}

.apple-logo {
  width: 25px;
  margin-right: 18px
}

.divider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.divider-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.login-form-text {
  font-size: smaller;
}

.login-form-or {
  margin-left: 24px;
  margin-right: 24px;
  font-size: smaller;
}

.form-title {
  text-align: center
}

.mat-drawer-container {
  ::ng-deep .mat-drawer-content {
    overflow: hidden;
  }
}

.read-only {
  pointer-events: none;
}

.read-only ~ button {
  pointer-events: auto;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: smaller
}

.emailpwd {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
