<div class="login-form">
  <div>
    <mat-drawer-container class="form-title">
      <h5 i18n>{{getTitle()}}</h5>
    </mat-drawer-container>
    <mat-drawer-container *ngIf="showDesc()" class="desc">
      <p>{{getDesc()}}</p>
    </mat-drawer-container>
  </div>
  <div class="emailpwd">
    <email-input [email]="email" [action]="modifyEmail(state)" [showModify]="showModify()"/>
    <password-input *ngIf="showPwd()" i18n-placeholder placeholder="Password" [pwd]="pwd" />
    <mat-drawer-container *ngIf="showPwd() && showForgot()" class="drawer-container">
      <a i18n mat-button color="primary" type="submit" (click)="gotoReset()">Forgot password?</a>
    </mat-drawer-container>
    <password-feedback *ngIf="showPwd() && showPwdFeedback()" [pwd]="pwd" />
  </div>
  <button i18n mat-flat-button color="primary" type="submit" class="login-form-element-simple" (click)="continue()">
    Continue
  </button>
  <div *ngIf="showSignIn()" class="divider">
    <mat-drawer-container class="login-form-text" i18n>Don't have an account yet? </mat-drawer-container>
    <a i18n mat-button color="primary" type="submit" (click)="toSignIn()">Sign in</a>
  </div>
  <div *ngIf="showConnect()" class="divider">
    <mat-drawer-container class="login-form-text" i18n>Already have an account? </mat-drawer-container>
    <a i18n mat-button color="primary" type="submit" (click)="toConnect()">Connect</a>
  </div>
  <div class="divider">
    <mat-divider class="divider-element"></mat-divider>
    <mat-drawer-container class="login-form-or" i18n>OR</mat-drawer-container>
    <mat-divider class="divider-element"></mat-divider>
  </div>
  <button i18n mat-stroked-button color="primary" type="submit" (click)="signInWithGoogle()" class="login-form-element">
    <img src="./assets/google-logo.png" class="google-logo"/>
    Continue with Google
  </button>
  <button i18n mat-stroked-button color="primary" type="submit" class="login-form-element">
    <img src="./assets/microsoft-logo.png" class="microsoft-logo"/>
    Continue with Microsoft
  </button>
  <button i18n mat-stroked-button color="primary" type="submit" class="login-form-element">
    <img [hidden]="!isLight" src="./assets/apple-logo-light.png" class="apple-logo"/>
    <img [hidden]="isLight" src="./assets/apple-logo-dark.png" class="apple-logo"/>
    Continue with Apple
  </button>
</div>
