<mat-drawer-container  class="pwd-feedback">
  <p i18n>Your password must contain:</p>
  <div i18n [ngClass]="getPwdCheckItemClass('atLeast12Chars')">At least 12 characters</div>
  <div i18n [ngClass]="getPwdCheckItemClass('atLeast1Digit')">At least one digit.</div>
  <div i18n [ngClass]="getPwdCheckItemClass('atLeast1Special')">At least one special character.</div>
  @if (checkSamePwd()) {
    <div i18n [ngClass]="getSamePwdClass()">Passwords must be identical.</div>
  }
</mat-drawer-container>