.pwd-feedback {
  font-size: smaller;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 12px;
  text-align: left;
}

.item {
  margin-left: 20px
}

.check-item {
  margin-left: 0px !important;
  position: relative;
  padding-left: 20px;
  color: var(--mdc-text-button-label-text-color);

  &::before {
    content: '✓';
    position: absolute;
    left: 0;
    font-weight: bold;
  }
}

