.container {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.large-padding {
  padding-left: 35%;
  padding-right: 35%
}

.medium-padding {
  padding-left: 25%;
  padding-right: 25%
}

.small-padding {
  padding-left: 5%;
  padding-right: 5%
}

.handset-padding {
  padding-left: 5%;
  padding-right: 5%
}