.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.title {
  font-weight: bolder;
  font-size: xx-large;
  margin-bottom: 12px;
  line-height: 1.8;
}

.text {
  font-weight: lighter
}

.bottom {
  margin-bottom: 32px
}
