.header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2em
}

.close {
  right: 18px;
  top: 4px;
}

.preferences-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  gap: 16px
}

.preference-item {
  display: flex;
  align-items: center;
}

.preference-item:last-of-type {
  margin-bottom: 8px;
}

.preference-label {
  flex: 2;
  text-align: left;
  padding-right: 10px;
  font-size: larger;
  font-weight: lighter;
}

.preference-label.no-margin {
  margin-bottom: 0px;
}

.preference-control {
  flex: 2;
  text-align: end;
}

.danger-control {
  text-align: center;
}

.fullwidth {
  width: 100%
}

.accordion {
  margin-left: -24px;
  margin-right: -24px
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0;
  border-top-left-radius: 0
}

.delete {
  background-color: #ff3c3c;
  color: white
}

.warning-icon {
  margin-right: 12px
}


