<mat-form-field appearance="outline" subscriptSizing="dynamic" class="form-element">
  <mat-label i18n>Email address</mat-label>
  <input
    [readonly]="showModify"
    matInput
    [class.read-only]="showModify"
    i18n-placeholder
    placeholder="john.doe@email.com"
    [formControl]="email"
    (blur)="updateEmailErrorMessage()"
    type="email" name="email" id="email" autocomplete="email"
  />
  <button *ngIf="showModify" mat-button color="primary" type="submit" matSuffix i18n (click)="action()" class="button">
    Edit
  </button>
  @if (email.invalid) {
    <mat-error>{{errorEmailMessage()}}</mat-error>
  }
</mat-form-field>