<mat-form-field appearance="outline" class="form-element">
  <mat-label i18n>{{ placeholder }}</mat-label>
  <input
    [type]="hidePwd ? 'password' : 'text'"
    matInput
    [formControl]="pwd"
  />
  <button
    *ngIf="hidePwd"
    mat-icon-button
    (click)="switchVisibility()"
    matSuffix
    class="button"
    matTooltip="Show password"
    matTooltipPosition="above"
  >
    <mat-icon>
      visibility
    </mat-icon>
  </button>
  <button
    *ngIf="!hidePwd"
    mat-icon-button
    (click)="switchVisibility()"
    matSuffix
    class="button"
    matTooltip="Hide password"
    matTooltipPosition="above"
  >
    <mat-icon>
      visibility_off
    </mat-icon>
  </button>
  <mat-error *ngIf="pwd.invalid" i18n>Invalid password</mat-error>
</mat-form-field>
